* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  font-family: "Montserrat", sans-serif;
  background: url(https://source.unsplash.com/1600x1900/?landscape,nature);
  font-size: 110%;
}
div#main-container {
  background-color: #000000d0;
  margin: 1em;
  padding: 2em;
  width: 100%;
  max-width: 420px;
  border-radius: 20px;
  color: white;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

input#searchBox {
  margin: 0.2em;
  padding: 3px;
  border: none;
  outline: none;
  border-radius: 7px;
  font-family: inherit;
  font-size: 120%;
  background: #7c7c7c7c;
  color: white;
  width: calc(100%, 50px);
}
button {
  margin: 0.2em;
  padding: 2px;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 50%;
  background: #7c7c7c7c;
  cursor: pointer;
  color: white;
  transition: 0.2s ease-in;
}
button:hover {
  background: #7c7c6b;
}
